{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "es6": true
  },
  "plugins": [
    "flow-vars",
    "react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
